@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://i.pinimg.com/originals/d7/b9/0c/d7b90cc80898e8823455a127945719af.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    margin-top: 40px;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 16px;
    padding: 20px 30px;
}

.wrapper h1{
    font-size: 30px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 15px;
}

.wrapper .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}

#error-message {
    color: #e63946;
    font-size: 0.9rem;
    margin-top: 6px;
    display: none;
    transition: opacity 0.3s ease;
}

input.error{
    border-color: #e63946;
    outline: none;
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.5);
}

/* 
.wrapper::after,
.wrapper::before{
    content: "";
    position: absolute;
    inset: 0; Shortcut for top/right/bottom/left: 0
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle),purple, blue, purple);
    z-index: -1;
    padding: 3px;
    animation: animate 2s linear infinite;
}

.wrapper::before{
    filter: blur(20px);
}

@keyframes animate {
    to {
        --angle: 360deg;
    }
}  */